<template>
  <div class="window-info-container" v-if="derivedWindow">
    <div class="switch-container">
      <v-ons-switch input-id="switch1" v-model="showAllWindow"></v-ons-switch>
      <span class="body">Show all windows</span>
    </div>
    <!-- {{ derivedWindow }} -->
    <div
      :class="{
        'window-info': true,
        active: currentWindowName === 'PROPOSAL',
        'green-bg': currentWindowName === 'PROPOSAL' && showAllWindow
      }"
      v-if="currentWindowName === 'PROPOSAL' || showAllWindow"
    >
      <label
        class="current-window-label"
        v-if="currentWindowName === 'PROPOSAL'"
        >Current Active Window</label
      >
      <h5>Proposal Window</h5>
      <div v-if="currentWindowName === 'PROPOSAL'" class="timers">
        <p class="coin-usage-warning">
          Proposal window will expire in
          <strong>{{ remainingSecondProposalWindow }}</strong>
        </p>
      </div>
      <div>
        <div>Start</div>
        <div>{{ formatDate(derivedWindow.proposalWindow[0]) }}</div>
      </div>
      <div>
        <div>End</div>
        <div>{{ formatDate(derivedWindow.proposalWindow[1]) }}</div>
      </div>
    </div>
    <div
      :class="{
        'window-info': true,
        active: currentWindowName === 'VOTING',
        'green-bg': currentWindowName === 'VOTING' && showAllWindow
      }"
      v-if="currentWindowName === 'VOTING' || showAllWindow"
    >
      <label class="current-window-label" v-if="currentWindowName === 'VOTING'"
        >Current Active Window</label
      >
      <h5>Voting Window</h5>
      <div v-if="currentWindowName === 'VOTING'" class="timers">
        <p class="coin-usage-warning">
          Voting window will expire in
          <strong>{{ remainingSecondVotingWindow }}</strong>
        </p>
      </div>
      <div>
        <div>Start</div>
        <div>{{ formatDate(derivedWindow.votingWindow[0]) }}</div>
      </div>
      <div>
        <div>End</div>
        <div>{{ formatDate(derivedWindow.votingWindow[1]) }}</div>
      </div>
    </div>
    <div
      :class="{
        'window-info': true,
        active: currentWindowName === 'GRACE',
        'green-bg': currentWindowName === 'GRACE' && showAllWindow
      }"
      v-if="currentWindowName === 'GRACE' || showAllWindow"
    >
      <label class="current-window-label" v-if="currentWindowName === 'GRACE'"
        >Current Active Window</label
      >
      <h5>Grace Window</h5>
      <div v-if="currentWindowName === 'GRACE'" class="timers">
        <p class="coin-usage-warning">
          Grace window will expire in
          <strong>{{ remainingSecondGraceWindow }}</strong>
        </p>
      </div>
      <div>
        <div>Start</div>
        <div>{{ formatDate(derivedWindow.graceWindow[0]) }}</div>
      </div>
      <div>
        <div>End</div>
        <div>{{ formatDate(derivedWindow.graceWindow[1]) }}</div>
      </div>
    </div>
    <div
      :class="{
        'window-info': true,
        active: currentWindowName === 'APPLY',
        'green-bg': currentWindowName === 'APPLY' && showAllWindow
      }"
      v-if="currentWindowName === 'APPLY' || showAllWindow"
    >
      <label class="current-window-label" v-if="currentWindowName === 'APPLY'"
        >Current Active Window</label
      >
      <h5>Apply Window</h5>
      <div v-if="currentWindowName === 'APPLY'" class="timers">
        <p class="coin-usage-warning">
          Apply window will expire in
          <strong>{{ remainingSecondApplyWindow }}</strong>
        </p>
      </div>
      <div>
        <div>Start</div>
        <div>{{ formatDate(derivedWindow.applyWindow[0]) }}</div>
      </div>
      <div>
        <div>End</div>
        <div>{{ formatDate(derivedWindow.applyWindow[1]) }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  data: function () {
    return {
      showAllWindow: false,
      moment
    }
  },
  props: {
    window: {
      type: Object,
      required: true
    },
    currentWindowName: {
      type: String
    }
  },
  computed: {
    derivedWindow () {
      if (this.window.proposalWindow) {
        return Object.assign({}, this.window)
      } else if (this.window.devProposalWindow) {
        return {
          proposalWindow: this.window.devProposalWindow,
          votingWindow: this.window.devVotingWindow,
          graceWindow: this.window.devGraceWindow,
          applyWindow: this.window.devApplyWindow
        }
      }
    },
    remainingSecondProposalWindow () {
      let seconds = this.derivedWindow.proposalWindow[1] - Date.now()
      return this.secondsToDhms(seconds)
    },
    remainingSecondVotingWindow () {
      let seconds = this.derivedWindow.votingWindow[1] - Date.now()
      return this.secondsToDhms(seconds)
    },
    remainingSecondGraceWindow () {
      let seconds = this.derivedWindow.graceWindow[1] - Date.now()
      return this.secondsToDhms(seconds)
    },
    remainingSecondApplyWindow () {
      let seconds = this.derivedWindow.applyWindow[1] - Date.now()
      return this.secondsToDhms(seconds)
    }
  },
  methods: {
    formatDate (ts) {
      return moment(ts)
    },
    secondsToDhms (milisecond) {
      let seconds = Number(milisecond) / 1000
      let d = Math.floor(seconds / (3600 * 24))
      let h = Math.floor((seconds % (3600 * 24)) / 3600)
      let m = Math.floor((seconds % 3600) / 60)
      let s = Math.floor(seconds % 60)

      let dDisplay = d > 0 ? d + (d == 1 ? ' day, ' : ' days, ') : ''
      let hDisplay = h > 0 ? h + (h == 1 ? ' hour, ' : ' hours, ') : ''
      let mDisplay = m > 0 ? m + (m == 1 ? ' minute, ' : ' minutes, ') : ''
      let sDisplay = s > 0 ? s + (s == 1 ? ' second' : ' seconds') : ''
      return dDisplay + hDisplay + mDisplay + sDisplay
    }
  }
}
</script>
<style lang="scss">
.switch__toggle {
  width: 40px;
  height: 20px;
}
.switch__handle {
  border-radius: 28px;
  height: 15px;
  width: 18px;
}

.window-info-container {
  .switch-container {
    margin: 15px auto;
    .body {
      font-size: 13px;
      color: #333;
    }
  }
  .window-info {
    margin: 10px auto;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fbfbfb;
    transition: 0.6s;
    .current-window-label {
      font-size: 11px;
      color: #44db5e;
      font-weight: bold;
    }
    div {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 14px;
      font-family: 'Poppins';
      font-weight: bold;
      color: #132c68;
    }
    .timers {
      text-align: left;
      display: block;
    }
  }
  .green-bg {
    background: #44db5e;
    color: #fff;
    h5,
    p {
      color: #fff;
    }
    .current-window-label {
      color: #fff;
    }
  }
}
</style>
